This notebook aims to relate COVID cases to pre-existing chronic diseases in the USA by looking at geographical correlations

Currently, just diabetes -- plan to add more

Note: need to control for other factors, like population density, social/economic demographics, etc.

## Datasets Used
Covid county dataset from: https://usafacts.org/visualizations/coronavirus-covid-19-spread-map/

2017 Diabetes county dataset from: https://gis.cdc.gov/grasp/diabetes/DiabetesAtlas.html

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

### Load Datasets

In [3]:
USAFACTS_DIR = 'USAFacts_Covid_by_county/'
COUNTY_CASES_FILENAME = USAFACTS_DIR + 'covid_confirmed_usafacts.csv'
COUNTY_DEATHS_FILENAME = USAFACTS_DIR + 'covid_deaths_usafacts.csv'
COUNTY_POP_FILENAME = USAFACTS_DIR + 'covid_county_population_usafacts.csv'

DIABETES_DIR = 'Diabetes_by_county/'
DIABETES_FILENAME = DIABETES_DIR + 'DiabetesAtlasCountyData.csv'

county_cases = pd.read_csv(COUNTY_CASES_FILENAME) #covid cases by county
county_deaths = pd.read_csv(COUNTY_DEATHS_FILENAME) #covid deaths by county
county_pop = pd.read_csv(COUNTY_POP_FILENAME) #population of counties
county_diabetes = pd.read_csv(DIABETES_FILENAME, skiprows = 2, skipfooter = 1)

<ipython-input-3-8700583f7909>:12: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  county_diabetes = pd.read_csv(DIABETES_FILENAME, skiprows = 2, skipfooter = 1)

In [4]:
#county_cases is a pandas.DataFrame that holds cumulative covid cases per county on daily basis, since 1/22/20

county_cases

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,2242,2267,2283,2304,2328,2351,2385,2417,2435,2456
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,7134,7188,7226,7263,7348,7409,7454,7523,7596,7646
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,1090,1092,1095,1098,1107,1112,1113,1117,1123,1128
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,917,924,926,932,948,961,966,973,978,986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,681,692,726,776,869,869,944,991,1075,1075
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,922,932,977,1007,1025,1025,1066,1108,1178,1178
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,542,544,551,568,627,627,664,686,729,729
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,185,185,187,190,199,199,203,206,218,218
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,294,306,306,310,321,321,321,330,339,339

In [5]:
#county_deaths is pandas.DataFrame that follows same format as county_cases

county_deaths

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,30,30,30,30,30,32,32,36,36,36
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,83,83,83,83,84,84,84,84,84,84
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,15,16,16,16,17,17,17,17,17,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,7,7,7,7,7,7,7,7,7,7
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [6]:
county_pop

      countyFIPS            County Name State  population
0              0  Statewide Unallocated    AL           0
1           1001         Autauga County    AL       55869
2           1003         Baldwin County    AL      223234
3           1005         Barbour County    AL       24686
4           1007            Bibb County    AL       22394
...          ...                    ...   ...         ...
3190       56037      Sweetwater County    WY       42343
3191       56039           Teton County    WY       23464
3192       56041           Uinta County    WY       20226
3193       56043        Washakie County    WY        7805
3194       56045          Weston County    WY        6927

[3195 rows x 4 columns]

In [7]:
#the 2017 diabetes rate by county -- percentage is between 0 and 100

county_diabetes

,County,State,CountyFIPS,Percentage,Lower Limit,Upper Limit
0,Bedford City,Virginia,51515,No Data,No Data,No Data
1,Shannon County,South Dakota,46113,No Data,No Data,No Data
2,Wrangell-Petersburg Census Area,Alaska,2280,No Data,No Data,No Data
3,Wade Hampton Census Area,Alaska,2270,No Data,No Data,No Data
4,Skagway-Hoonah-Angoon,Alaska,2232,No Data,No Data,No Data
...,...,...,...,...,...,...
3221,Jones County,North Carolina,37103,24.7,12.8,41.6
3222,Woodruff County,Arkansas,5147,25.3,11.4,46.8
3223,Bullock County,Alabama,1011,27.9,14.9,43.7
3224,Nowata County,Oklahoma,40105,27.9,14,44.3
3225,Jackson County,Arkansas,5067,28.7,15.8,44.2

### Quick EDA on COVID county dataset

In [8]:
#check datatypes of covid_cases
#note: may want to downsize these dtypes to be smaller, use less bits (int32?)

county_cases.dtypes

countyFIPS      int64
County Name    object
State          object
stateFIPS       int64
1/22/20         int64
                ...
11/11/20        int64
11/12/20        int64
11/13/20        int64
11/14/20        int64
11/15/20        int64
Length: 303, dtype: object

In [9]:
#countyFIPS is the Federal Information Processing Standard code -- unique for each county
#stateFIPS is similar
#State is two-letter state code (ie CA, WY)
#County Name is the name of the county, obviously
#every other column has number of cumulative cases in that county on that date

county_cases.columns

Index(['countyFIPS', 'County Name', 'State', 'stateFIPS', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '11/6/20', '11/7/20', '11/8/20', '11/9/20', '11/10/20', '11/11/20',
       '11/12/20', '11/13/20', '11/14/20', '11/15/20'],
      dtype='object', length=303)

In [10]:
#total number of counties represented in this dataset
county_cases['countyFIPS'].nunique()

3146

In [11]:
#get number of counties per state
county_cases.groupby('State')['countyFIPS'].count()

State
AK     31
AL     68
AR     76
AZ     16
CA     60
CO     65
CT      9
DC      1
DE      4
FL     68
GA    160
HI      6
IA    100
ID     45
IL    103
IN     93
KS    106
KY    121
LA     65
MA     15
MD     25
ME     17
MI     84
MN     88
MO    116
MS     83
MT     57
NC    101
ND     54
NE     94
NH     11
NJ     22
NM     34
NV     18
NY     64
OH     89
OK     78
OR     37
PA     68
RI      6
SC     47
SD     67
TN     96
TX    255
UT     30
VA    134
VT     15
WA     40
WI     73
WV     56
WY     24
Name: countyFIPS, dtype: int64

In [12]:
#get number of cases per state on each date
county_cases.drop(['countyFIPS','County Name','stateFIPS'], axis = 1).groupby('State').sum()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20
State,,,,,,,,,,,,,,,,,,,,,
AK,0,0,0,0,0,0,0,0,0,0,...,17597,18198,18716,19187,19712,20207,20688,21275,22014,22662
AL,0,0,0,0,0,0,0,0,0,0,...,200713,202482,203687,204856,206567,208636,210637,213617,215843,217822
AR,0,0,0,0,0,0,0,0,0,0,...,119230,120828,121866,122811,124235,126197,128006,130317,132163,133040
AZ,0,0,0,0,1,1,1,1,1,1,...,254764,257384,259264,259699,263133,265163,266562,269577,273053,275436
CA,0,0,0,0,2,3,3,4,4,4,...,963768,969090,973743,981493,990096,995487,1005994,1015809,1023575,1030112
CO,0,0,0,0,0,0,0,0,0,0,...,124466,127967,130984,134536,138426,142399,147597,154037,159233,163417
CT,0,0,0,0,0,0,0,0,0,0,...,78125,78125,78125,81463,82987,84741,85899,88645,88645,88645
DC,0,0,0,0,0,0,0,0,0,0,...,17792,17891,18001,18087,18173,18379,18507,18666,18814,18977
DE,0,0,0,0,0,0,0,0,0,0,...,26035,26283,26596,26908,27112,27353,27546,28016,28396,28803
FL,0,0,0,0,0,0,0,0,0,0,...,832625,837077,843895,847814,852174,858012,863619,870552,875096,885201
GA,0,0,0,0,0,0,0,0,0,0,...,370088,371818,373070,374162,376045,377692,380187,382498,384997,386949
HI,0,0,0,0,0,0,0,0,0,0,...,15691,15819,15947,16008,16088,16205,16302,16412,16519,16519
IA,0,0,0,0,0,0,0,0,0,0,...,144142,144142,148391,156816,161257,166021,170358,175423,180253,184685
ID,0,0,0,0,0,0,0,0,0,0,...,70909,72312,72961,74227,75428,77121,78278,79796,81315,82245
IL,0,0,1,1,1,1,1,1,1,2,...,465528,477966,487974,498547,511169,523823,536526,551940,562970,573601
IN,0,0,0,0,0,0,0,0,0,0,...,203622,208538,213190,217322,222186,227228,233831,239432,247759,254464
KS,0,0,0,0,0,0,0,0,0,0,...,99223,99295,99384,105081,105637,110778,111357,117351,117539,117539
KY,0,0,0,0,0,0,0,0,0,0,...,117475,119542,120678,122562,124646,127343,129679,132844,136135,137586
LA,0,0,0,0,0,0,0,0,0,0,...,186686,186686,187940,188339,189679,189679,191882,194683,194683,194683
MA,0,0,0,0,0,0,0,0,0,0,...,173557,175734,177543,178706,180753,183248,185732,188406,191247,193331
MD,0,0,0,0,0,0,0,0,0,0,...,151505,152915,153996,155371,156709,158423,159900,161769,164090,165930
ME,0,0,0,0,0,0,0,0,0,0,...,7600,7693,7720,8060,8186,8394,8639,8791,8942,9117
MI,0,0,0,0,0,0,0,0,0,0,...,222509,222509,222509,238308,245252,251872,259180,268336,275792,275792
MN,0,0,0,0,0,0,0,0,0,0,...,170307,174954,180860,184785,189681,201795,201795,207342,223581,231018
MO,0,0,0,0,0,0,0,0,0,0,...,205064,209197,212441,216696,220768,224771,226881,235722,239451,243169
MS,0,0,0,0,0,0,0,0,0,0,...,125884,126688,127204,127204,129394,129394,130665,131970,133340,134309
MT,0,0,0,0,0,0,0,0,0,0,...,37806,38775,39551,39971,41067,41990,42936,44113,45889,47158
NC,0,0,0,0,0,0,0,0,0,0,...,288334,290432,291947,294854,297973,300561,301342,305234,308352,310324
ND,0,0,0,0,0,0,0,0,0,0,...,53203,53203,55455,55455,57383,57373,59148,62868,62868,64895
NE,0,0,0,0,0,0,0,0,0,0,...,80015,81714,83275,84857,87032,89232,91827,94152,96049,97366
NH,0,0,0,0,0,0,0,0,0,0,...,12012,12241,12488,12699,12919,13148,13470,13929,14311,14311
NJ,0,0,0,0,0,0,0,0,0,0,...,249380,252582,254595,256653,260430,263495,266986,270383,274736,279274
NM,0,0,0,0,0,0,0,0,0,0,...,52394,53671,54881,56289,57547,59034,60776,62006,63171,64201
NV,0,0,0,0,0,0,0,0,0,0,...,106776,108586,109770,110723,112036,113132,114601,116439,118696,119858
NY,0,0,0,0,0,0,0,0,0,0,...,522090,525677,529105,532249,536214,541034,545831,551232,556620,560269
OH,0,0,0,0,0,0,0,0,0,0,...,240179,245728,250269,254975,261483,267357,274458,282529,290244,298097
OK,0,0,0,0,0,0,0,0,0,0,...,131751,131751,136258,138449,140155,142334,144689,147358,150205,154128
OR,0,0,0,0,0,0,0,0,0,0,...,48608,49587,50448,51155,51909,52770,53879,54937,56018,56880
PA,0,0,0,0,0,0,0,0,0,0,...,223950,227985,230894,234296,238657,243368,248856,254386,259938,265137
RI,0,0,0,0,0,0,0,0,0,0,...,32657,32657,32657,32657,32657,36375,36375,36375,36375,36375
SC,0,0,0,0,0,0,0,0,0,0,...,182872,184741,185681,186382,187724,188995,190490,192100,194014,195507
SD,0,0,0,0,0,0,0,0,0,0,...,52636,53973,55401,56310,57334,58696,60716,62327,64182,65381
TN,0,0,0,0,0,0,0,0,0,0,...,273143,278212,281850,287710,289749,293379,296724,300458,305120,310937
TX,0,0,0,0,0,0,0,0,0,0,...,955334,963451,969260,973945,984981,996096,1004900,1016202,1025617,1032167
UT,0,0,0,0,0,0,0,0,0,0,...,127329,130376,132633,134763,137523,139851,143642,146117,151143,153874
VA,0,0,0,0,0,0,0,0,0,0,...,188769,190866,192166,193468,194906,196500,198022,199259,200798,201960
VT,0,0,0,0,0,0,0,0,0,0,...,2326,2347,2392,2415,2462,2535,2651,2742,2842,2889
WA,1,1,1,1,1,1,1,1,1,1,...,114241,116011,117331,118570,120011,120011,123356,125498,127730,130040
WI,0,0,0,0,0,0,0,0,0,0,...,269982,277503,281910,286380,293812,301347,309572,318023,323604,329924
WV,0,0,0,0,0,0,0,0,0,0,...,27085,27742,28400,28795,29316,29316,30897,31638,32792,33659
WY,0,0,0,0,0,0,0,0,0,0,...,16360,16614,17306,18009,19372,19372,20479,21341,22494,22494

In [38]:
#check for missing values
county_cases.isna().sum().sum() #no missing values in any columns, yay!

0

In [39]:
#looks like there's plenty of cases statewide that aren't allocated to any county
#figure out what to do with these -- add up county populations?

county_cases[county_cases['countyFIPS'] == 0]

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68,0,Statewide Unallocated,AK,2,0,0,0,0,0,0,...,7,8,9,8,8,8,8,8,10,12
99,0,Statewide Unallocated,AZ,4,0,0,0,0,0,0,...,1,0,0,18,0,0,0,0,0,0
115,0,Statewide Unallocated,AR,5,0,0,0,0,0,0,...,1711,1755,1868,1932,1847,1948,2013,2138,2106,2166
191,0,Statewide Unallocated,CA,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
251,0,Statewide Unallocated,CO,8,0,0,0,0,0,0,...,23,23,23,23,23,23,23,23,23,23
316,0,Statewide Unallocated,CT,9,0,0,0,0,0,0,...,207,207,207,308,291,318,319,379,379,379
325,0,Statewide Unallocated,DE,10,0,0,0,0,0,0,...,92,92,93,93,93,93,93,93,93,93
330,0,Statewide Unallocated,FL,12,0,0,0,0,0,0,...,1784,1789,2038,2021,2027,2062,2057,2056,2076,2096
398,0,Statewide Unallocated,GA,13,0,0,0,0,0,0,...,17007,17135,17182,17215,17199,17195,17182,17352,17418,17608
558,0,Statewide Unallocated,HI,15,0,0,0,0,0,0,...,107,112,113,118,127,128,131,138,140,140
564,0,Statewide Unallocated,ID,16,0,0,0,0,0,0,...,3,4,4,1,1,1,2,1,1520,2
609,0,Statewide Unallocated,IL,17,0,0,0,0,0,0,...,94,116,110,73,69,83,180,209,226,232
712,0,Statewide Unallocated,IN,18,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
805,0,Statewide Unallocated,IA,19,0,0,0,0,0,0,...,113,113,225,246,304,324,471,468,456,523
905,0,Statewide Unallocated,KS,20,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1011,0,Statewide Unallocated,KY,21,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1132,0,Statewide Unallocated,LA,22,0,0,0,0,0,0,...,308,308,312,312,305,305,315,314,314,314
1197,0,Statewide Unallocated,ME,23,0,0,0,0,0,0,...,5,2,1,7,1,1,4,1,1,3
1214,0,Statewide Unallocated,MD,24,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1239,0,Statewide Unallocated,MA,25,0,0,0,0,0,0,...,1271,1292,1293,1293,1311,1311,1311,1325,1357,1357
1254,0,Statewide Unallocated,MI,26,0,0,0,0,0,0,...,8105,8105,8105,8787,8783,8835,9021,9723,10029,10029
1410,0,Statewide Unallocated,MN,27,0,0,0,0,0,0,...,349,247,298,283,238,327,327,396,392,340
1426,0,Statewide Unallocated,MS,28,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1509,0,Statewide Unallocated,MO,29,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1625,0,Statewide Unallocated,MT,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1682,0,Statewide Unallocated,NE,31,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
1776,0,Statewide Unallocated,NV,32,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1794,0,Statewide Unallocated,NH,33,0,0,0,0,0,0,...,53,62,73,284,80,309,421,880,1262,1262
1805,0,Statewide Unallocated,NJ,34,0,0,0,0,0,0,...,563,564,569,596,598,639,642,639,652,684
1827,0,Statewide Unallocated,NM,35,0,0,0,0,0,0,...,1936,2010,2097,2111,2117,2160,2189,2197,2238,2262
1861,0,Statewide Unallocated,NY,36,0,0,0,0,0,0,...,69,69,69,69,69,69,69,69,69,69
1925,0,Statewide Unallocated,NC,37,0,0,0,0,0,0,...,0,0,0,0,0,2,2,2,2,2
2026,0,Statewide Unallocated,ND,38,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2080,0,Statewide Unallocated,OH,39,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
2169,0,Statewide Unallocated,OK,40,0,0,0,0,0,0,...,30,30,92,87,62,38,25,32,39,57
2247,0,Statewide Unallocated,OR,41,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2284,0,Statewide Unallocated,PA,42,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2352,0,Statewide Unallocated,RI,44,0,0,0,0,0,0,...,1544,1544,1544,1544,1544,1839,1839,1839,1839,1839
2358,0,Statewide Unallocated,SC,45,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2405,0,Statewide Unallocated,SD,46,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2472,0,Statewide Unallocated,TN,47,0,0,0,0,0,0,...,6822,7345,7689,8230,7963,8150,8222,8452,8800,9298
2568,0,Statewide Unallocated,TX,48,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2823,0,Statewide Unallocated,UT,49,0,0,0,0,0,0,...,145,223,563,361,145,179,150,118,1087,812
2853,0,Statewide Unallocated,VT,50,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,10
2868,0,Statewide Unallocated,VA,51,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3002,0,Statewide Unallocated,WA,53,0,0,0,0,0,0,...,424,451,419,388,416,416,468,435,426,423
3042,0,Statewide Unallocated,WV,54,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3098,0,Statewide Unallocated,WI,55,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3171,0,Statewide Unallocated,WY,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Join covid cases dataset with chronic disease datasets

Note: work on reducing memory size of dataframes by downsizing big dtypes into smaller dtypes -- may be issue in future

In [40]:
#convert flat number of county cases to rate over county population

#first merge population with cases data using countyFIPS
county_cases_rate = pd.merge(county_pop.drop(['County Name', 'State'], axis=1), county_cases, on = 'countyFIPS')

#then convert number of cases to rate over county population
county_cases_rate.iloc[:, 5:] = county_cases_rate.iloc[:, 5:].apply(lambda col: col / county_cases_rate['population'], axis = 0)
county_cases_rate

,countyFIPS,population,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,11/6/20,11/7/20,11/8/20,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20
0,0,0,Statewide Unallocated,AL,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0,Statewide Unallocated,AK,2,NaN,NaN,NaN,NaN,NaN,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2,0,0,Statewide Unallocated,AZ,4,NaN,NaN,NaN,NaN,NaN,...,inf,NaN,NaN,inf,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,Statewide Unallocated,AR,5,NaN,NaN,NaN,NaN,NaN,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
4,0,0,Statewide Unallocated,CA,6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5689,56037,42343,Sweetwater County,WY,56,0.0,0.0,0.0,0.0,0.0,...,0.016083,0.016343,0.017146,0.018327,0.020523,0.020523,0.022294,0.023404,0.025388,0.025388
5690,56039,23464,Teton County,WY,56,0.0,0.0,0.0,0.0,0.0,...,0.039294,0.039720,0.041638,0.042917,0.043684,0.043684,0.045431,0.047221,0.050205,0.050205
5691,56041,20226,Uinta County,WY,56,0.0,0.0,0.0,0.0,0.0,...,0.026797,0.026896,0.027242,0.028083,0.031000,0.031000,0.032829,0.033917,0.036043,0.036043
5692,56043,7805,Washakie County,WY,56,0.0,0.0,0.0,0.0,0.0,...,0.023703,0.023703,0.023959,0.024343,0.025496,0.025496,0.026009,0.026393,0.027931,0.027931
5693,56045,6927,Weston County,WY,56,0.0,0.0,0.0,0.0,0.0,...,0.042443,0.044175,0.044175,0.044752,0.046340,0.046340,0.046340,0.047640,0.048939,0.048939

In [28]:
#preprocess chronic disease datasets

#diabetes dataset
temp = county_diabetes.drop(['County','State'], axis = 1) #redundant info, only need CountyFIPS for identification
cols = list(temp.columns)
cols[0] = 'countyFIPS' #rename to match column name in covid dataset
cols[1:] = ['Diabetes_' + c for c in cols[1:]]
temp.columns = cols #rename columns so that it's clear that they came from diabetes dataset
temp.iloc[:,1:] = temp.iloc[:,1:].apply(lambda col: pd.to_numeric(col, errors='coerce', downcast = 'float'), axis = 1) #convert to numeric datatype
county_diabetes = temp

In [35]:
main_df = county_cases_rate.merge(county_diabetes,how='left', on = 'countyFIPS').dropna()
main_df

,countyFIPS,population,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,11/9/20,11/10/20,11/11/20,11/12/20,11/13/20,11/14/20,11/15/20,Diabetes_Percentage,Diabetes_Lower Limit,Diabetes_ Upper Limit
2550,1001,55869,Autauga County,AL,1,0.0,0.0,0.0,0.0,0.0,...,0.041239,0.041669,0.042081,0.042689,0.043262,0.043584,0.043960,11.4,8.3,15.200000
2551,1003,223234,Baldwin County,AL,1,0.0,0.0,0.0,0.0,0.0,...,0.032535,0.032916,0.033189,0.033391,0.033700,0.034027,0.034251,8.2,6.9,9.700000
2552,1005,24686,Barbour County,AL,1,0.0,0.0,0.0,0.0,0.0,...,0.044479,0.044843,0.045046,0.045086,0.045248,0.045491,0.045694,15.1,9.9,22.700001
2553,1007,22394,Bibb County,AL,1,0.0,0.0,0.0,0.0,0.0,...,0.041618,0.042333,0.042913,0.043137,0.043449,0.043672,0.044030,12.2,7.8,18.500000
2554,1009,57826,Blount County,AL,1,0.0,0.0,0.0,0.0,0.0,...,0.040380,0.041123,0.041504,0.042005,0.043026,0.043544,0.044081,12.2,8.9,16.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5689,56037,42343,Sweetwater County,WY,56,0.0,0.0,0.0,0.0,0.0,...,0.018327,0.020523,0.020523,0.022294,0.023404,0.025388,0.025388,8.0,6.6,9.900000
5690,56039,23464,Teton County,WY,56,0.0,0.0,0.0,0.0,0.0,...,0.042917,0.043684,0.043684,0.045431,0.047221,0.050205,0.050205,2.2,1.3,3.200000
5691,56041,20226,Uinta County,WY,56,0.0,0.0,0.0,0.0,0.0,...,0.028083,0.031000,0.031000,0.032829,0.033917,0.036043,0.036043,9.5,7.1,12.300000
5692,56043,7805,Washakie County,WY,56,0.0,0.0,0.0,0.0,0.0,...,0.024343,0.025496,0.025496,0.026009,0.026393,0.027931,0.027931,8.2,5.5,12.200000
5693,56045,6927,Weston County,WY,56,0.0,0.0,0.0,0.0,0.0,...,0.044752,0.046340,0.046340,0.046340,0.047640,0.048939,0.048939,9.2,5.9,13.400000

In [30]:
#check for correlation between diabetes percentage and covid cases

main_df.drop(['countyFIPS', 'stateFIPS'], axis = 1).corr().iloc[:, -3:]

,Diabetes_Percentage,Diabetes_Lower Limit,Diabetes_ Upper Limit
population,-0.091600,0.093800,-0.210898
1/22/20,-0.014613,0.001933,-0.022569
1/23/20,-0.014613,0.001933,-0.022569
1/24/20,-0.016609,0.005532,-0.027997
1/25/20,-0.016609,0.005532,-0.027997
...,...,...,...
11/14/20,0.118737,0.085985,0.106870
11/15/20,0.113413,0.082076,0.101669
Diabetes_Percentage,1.000000,0.826828,0.857917
Diabetes_Lower Limit,0.826828,1.000000,0.436664
Diabetes_ Upper Limit,0.857917,0.436664,1.000000

hmm -- based on correlation table, it seems that there's either no correlation or very weak between COVID cases and diabetes; but what about COVID deaths and diabetes?

Also, check out urban/rural disparity -- may shed some light on if there's interaction effects with diabetes

Now that it's by covid rate vs diabetes rate, there is actually a positive correlation (albeit weak)